<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Task</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.date %></td>
        <td><%= link_to task, task %></td>
        <td><%= task.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
