<h1>Welcome</h1>
It's <%= Time.now %>.

<div class="container">
  <ul class="list-group">
    <% Course.all.each do |course| %>
      <li class="list-group-item"><%= link_to course, course %></li>
    <% end %>
  </ul>
</div>
