<h1>Credits</h1>

<table class="table">
  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <td><%= credit.course %></td>
        <td>(<%= credit.weight %>%)</td>
        <td><%= link_to credit.name, credit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit', new_credit_path %>
