<h1>Courses</h1>

<% @courses.group_by(&:year).each do |year, courses| %>
  <h3><%= year %></h3>
  <ul>
    <% courses.each do |course| %>
      <li>
        <strong><%= link_to course.code, course %></strong>
	<%= course.name %>
      </li>
    <% end %>
  </ul>
<% end %>



<br>

<%= link_to 'New Course', new_course_path %>
